body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #004953;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

.locationInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    color: #004953;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    background-color: #004953;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: lch(44.44% 26.9 216.58);
}

.card {
    padding: 50px;
    display: flex;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
    color: white;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
    color: white;
}

.locationDisplay, .tempDisplay {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}

.humidityDisplay, .feelsLike {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: medium;
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}

.weatherSymbol {
    margin: 0;
    font-size: 3.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
}